:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;  // Ocupa toda la altura de la ventana
  background-color: #BBC499;  // Fondo verde
}

.login-container {
  background-color: white;  // Fondo blanco de los inputs
  margin: 60px auto;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 400px;  // Limita el ancho del formulario
}

input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}
.fuente-azul{
  font-size: 100px;
  color: #003754;
  font-weight: bold;
  margin: auto;
  text-align: center;
}
.espace-up{
  margin-top: 20px;
}
